<div class = 'container'>
  <h1 class = 'page_title'>Post Details</h1>
  <div class = 'post_container'>
    <div class = 'post_user_container'>
      <img class = 'user_profile' src = '<%= @post.author.photo %>' alt='photo comes here' width="100" height="100" />
      <h2><%= @post.author.name %></h2>
    </div>
    <h3><%= @post.title %></h3>
    <p><%= @post.text %></p>
    <p class = 'post_counter' >Comment:<%= @post[:comments_counter] %> Likes: <%= @post[:likes_counter] %> </p>
        <div class="post_counter">
      <%= form_with url: "/posts/#{@post.id}/likes", scope: :like do |form| %>
        <%= form.submit "Like this post" %>
      <% end %>
      <p class = 'post_counter' >
        Comments:<%= @post[:comments_counter] %> Likes: <%= @post[:likes_counter] %>
      </p>
    </div>
    <%= render partial: "create_comments",  local: { post: @post } %>
    <ul>
      <% @post.comments.each do |comment| %>
        <li class = 'comment_holder'></li>
          <h5> <%= comment.author.name %></h5>
          <p><%= comment[:text] %> </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>